In [10]:
x = 10
y = 4.2

num = float(input("Digite um número a seguir: "))

#print(num > x*y, num <= x + y, num*y != x*y)


print(False, True, True)

Digite um número a seguir: 10
False True True

In [19]:
x = 4.2
y = 10
z = "42"

not (((x * y == z) and not (x < y)) or y % 2 == 0)

#not (((not True) or int(z) % 7 == 0) and ((str(int(x*y)) == z) and (type(x) != type(z))))

False

In [26]:
a = int(input("Digite o primeiro número inteiro: "))
b = int(input("Digite o segundo número inteiro: "))
c = int(input("Digite o terceiro número inteiro: "))

if a > b and a > c:
    resposta = a % 2 == 0
elif b > a and b > c:
    resposta = b % 2 == 0
else:
    resposta = c % 2 == 0

print(resposta)

Digite o primeiro número inteiro: 20
Digite o segundo número inteiro: 5
Digite o terceiro número inteiro: 12
True

In [39]:
x = int(input("Digite um número inteiro: "))

if x<0:
    resp1 = "negativo"
else:
    resp2 = "positivo"
    
if x%2==0:
    resp1 = "par"
else:
    resp2 = "impar"
    

print("\nO número {} é {} e {}.".format(x, resp1, resp2))

Digite um número inteiro: -42

O número -42 é par e impar.

In [40]:
cont = 0
resultado = 0
n = 1000

while cont != n:
    resultado = resultado + 1/(2**cont)
    cont = cont + 1

print(resultado)

2.0

In [41]:
for i in range(10):
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [42]:
for i in " "*10:
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [43]:
for i in range(10, 20, 1):
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [44]:
for i in [10]*10:
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [45]:
for i in "let's code":
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [46]:
for i in [10]:
    print("Olá, mundo!")

Olá, mundo!

In [50]:
lista_inicial = [10, 5, -7, 6, -42, 63, -8, -5, 13]

lista_final = []

for item in lista_inicial:
    if item % 2 == 0:
        if item < 0:
            lista_final.append(-item)
        else:
            lista_final.append(item)
    else:
        if item < 0:
            lista_final.append(-2*item)
        else:
            lista_final.append(2*item)
print(lista_final)

[10, 10, 14, 6, 42, 126, 8, 10, 26]

In [51]:
animais = ['gato', 'coelho', 'macaco', 'girafa']

animais.remove('gato')
print(animais)
print(len(animais))
print(animais.index('coelho'))

['coelho', 'macaco', 'girafa']
3
0

In [56]:
cadastro = ["da Silva, Dra. Maria Francisca"]

In [68]:
primeiros_nomes = []
for x in cadastro:
    primeiros_nomes.append(x.split(". ")[-1])

sobrenomes = []
for x in cadastro:
    sobrenomes.append(x.split(",")[0])

titulos = []
for x in cadastro:
    titulos.append(x.split(".")[0].split(", ")[-1])

In [69]:
print(sobrenomes, primeiros_nomes, titulos)

['da Silva'] ['Maria Francisca'] ['Dra']

In [103]:
def f_it(n):
    resultado = 1

    for i in range(1, n+1, 1):
        resultado = resultado * i
  
    return resultado

In [104]:
f_it(5)

120

In [115]:
def f_rec(n):
    if n != 0:
        return n*f_rec(n-1)
    return 1

In [116]:
f_rec(5)

120

In [91]:
def calc_media(*args):
    soma = 0
    n = 0
    for item in args:
        soma = soma + item
        n = n + 1
    return soma/n

In [92]:
calc_media(5, 10, 15,20)

12.5

In [93]:
lista = ['7', '9', '6', '5', '9', '10', '7', '8', '10', '7', 
     '7', '6', '6', '10', '6', '6', '7', '10', '9', '10',
     '7', '8', '10', '9', '8']
         
dic = {}

for item in lista:
    if item not in dic:
        dic[item] = 1
    else:
        dic[item] = dic[item] + 1

In [94]:
print(dic)

{'7': 6, '9': 4, '6': 5, '5': 1, '10': 6, '8': 3}